*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out!important;
}
button, input[type="submit"]
{
    background-color: #4d4Dba;
    color: #fff;
    outline: none;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;
}
button, input[type="submit"]:hover
{
    background-color: #fff;
    color: #4d4Dba;
    border-color: #4d4Dba;
    outline: none;

}
.btns_macro
{
    background-color: #4d4Dba!important;
    color: #fff!important;
    outline: none!important;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out!important;
}
.btns_macro:hover
{
    background-color: #fff!important;
    color: #4d4Dba!important;
    border-color: #4d4Dba!important;
    outline: none!important;

}

body
{
    font-family: Helvetica,sans-serif;
    color: #3e3e3e!important;
    font-size: 16px;
    font-weight: 500!important;
}
span
{
    outline: none!important;
}
.container
{
    margin-top: 10px;
    width: 80%;
}
#footer
{
    margin-top: 30px!important;
}
.bg_ligth
{
    background-color: #f7f7f7!important;
}
.title
{
    color: #3e3e3e!important;
    font-family: Helvetica, sans-serif;
    font-weight: 700!important;
}
.link
{
    color: #4d4Dba!important;
}

.cards_btn
{/*
    background-color: #4d4Dba!important;
    color: #fff!important;
    */
    text-align: center;
    outline: none!important;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out,font-size .45s ease-in-out!important;
}
.cards_btn:hover
{
    /*
    background-color: #fff!important;
    */
    color: #3c3ca9!important;
    font-size: 1.269rem;
    /*border-color: #3c3ca9!important;
    outline: none!important;
    */
    cursor: pointer;

}
.pd-top-3rem
{
    padding-top: 3rem;
}
.text-center
{
    text-align: center;
    margin-top: 0!important;
}
.col-lg-3
{
    margin-top: 0!important;
    margin: auto;
}
.row
{
    margin-bottom: 3rem!important;

}
.icon
{
    margin-bottom: 10px;
    width: 30px;
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    outline: none!important;
    background-color: #fff;
    border: none!important;
    color: #2b2b98;
    border: 1px solid;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.icon:hover
{
    color: #6f6fdc;
}
.like
{
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
@keyframes show
{
    0%
    {
        opacity: 0;

    }

    100%
    {
        opacity: 1;
    }

}
@keyframes hide
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
#modopreparo_receita
{
    width: 80%;
    margin: auto;
}
#btn_traduzir
{
    margin-bottom: 15px;
}
.recipe-info
{
    margin-top: 30px!important;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 30px;
    margin: auto;
    border-radius: 3px;
}
.ingrdients-info
{
    margin-top: 20px!important;
    flex-direction: column;
    background-color: #f7f7f7!important;
    padding: 15px;
    margin: auto;
    border-radius: 3px;
}
.img-full
{

    width: auto;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    max-height: 600px;
    max-width: 600px;
}
.coluna-full
{
    background-color: #fff;
    padding: 10px!important;
    width: auto!important;
}
.row-full
{
    width: 80%;
    /*margin-left: 17%!important;*/
}
.color
{
    color:#4d4Dba!important;
}
.navbar-brand
{
    font-size: 1.5rem!important;
    font-family:Verdana!important;
    font-weight: 900!important;
}
.text
{
    width: 60%!important;
    margin: auto!important;
}
.fa-cart-shopping
{
    font-size: 20px!important;
}
.fa-kitchen-set
{
    margin-left: 5px!important;
}
.mg-auto
{
    margin: auto!important;
}
.card
{
    border: 0px!important;
}
.card-img
{
    border-bottom: 3.5px solid #5e5ecb;
    border-radius: 0!important;
    height: 100%!important;
    width: 100%!important;
}
.Page
{
    margin: auto!important;
    margin-top: 15px!important;
}
.alert
{
    animation-name: showalert;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
@keyframes showalert
{
    0%
    {
        opacity: 0;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        font-size: 0;
    }
    30%
    {
        font-size: 0;
        margin-bottom: 3px;
    }

    100%
    {
        opacity: 1;
        margin: auto;
        padding: auto;
        width: auto;
        height: auto;
        font-size: auto;
        margin-bottom: 10px;
    }


}
@keyframes hidealert
{


    0%
    {
        opacity: 1;
        margin: auto;
        padding: auto;
        width: auto;
        height: auto;
        font-size: auto;
        margin-bottom: 10px;
    }
    50%
    {
        font-size: 0;
        margin-bottom: 5px;
    }
    100%
    {
        opacity: 0;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        font-size: 0;
        margin-bottom: 0px;
    }

}
@media (max-width:570px) 
{
    .coluna-full
    {
        display:table-row!important;
        display: inline;
        margin-left: 0!important;
        margin-bottom: 5px!important;
        width: 15rem!important;
    }
    .row-full
    {
        margin-top: 10px!important;
        margin-left: 16.5%!important;
    }
    .col-lg-3
    {
        margin-top: 8%!important;
        margin-left: 9%!important;
    }
}
@media (max-width:992px) and (min-width:570px)
{
    .coluna-full
    {
        display:table!important;
        width: 100%!important;
        padding:15px!important;
        margin-right: auto!important;
        margin-bottom: 10px!important;
    }
    .row-full
    {
        display: flex!important;
        margin-top: 10px!important;
        width: 100%!important;
        margin-left:.38vw!important;
    }
}
@media (max-width:1920px) and (min-width:992px)
{
    .coluna-full
    {
        display:table!important;
        width: 100%!important;
        padding:15px!important;
    }
    .row-full
    {
        display: flex!important;
        margin-top: 10px!important;
        width: 103%!important;
        margin-left:4.0vw!important;
    }
}
.alert-loding
{
    color: #4d4Dba;
    border-color: #4d4Dba;
    background-color: #4d4dba4d;
    border: 1px solid;
    border-radius: 4px;
}
@media (max-width:760px) and (min-width:500px)
{
.col-lg-3
{
    margin-top: 5rem!important;
    margin-left: 20%!important;
}
}
@media (max-width:900px) and (min-width:760px)
{
.col-lg-3
{
    margin-top: 5rem!important;
    margin-left: 25%!important;
}
}

.dark-mode-body
{
    color: #e3e3e3!important;
    background-color: #000!important;
    border-color: #000!important;
}
.button-dark-mode
{
    background-color: #000!important;
    color: #4d4Dba!important;
    border-color: #4d4Dba!important;
}
.button-dark-mode:hover
{
    background-color: #4d4Dba!important;
    color: #000!important;
    border-color: #000!important;
}
.dark-mode-nav
{
    color: #e3e3e3!important;
    background-color: #212121!important;
}
.dark-nav
{
    color: #e3e3e3!important;
}
.page-link
{
    color: #3c3Ca9!important;
}
.page-item.disabled > .page-link
{
    color: #6c757d!important;
}
.page-link-dark-mode
{
    color: #4d4Dba;
    background-color: #212121!important;
    border: 1px solid #e3e3e3!important;
}
.page-link-dark-mode.disable
{
    color: #e3e3e3!important;
}
.page-link.page-link-dark-mode
{
    color: #4d4Dba;
}
.page-link.page-link-dark-mode:hover
{
    color: #3d3Dca;
}
.textarea-dark
{
    background-color: #000!important;
    border: 1px solid #e3e3e3!important;
    color: #fff!important;
}
.toggler-icon-dark
{
    border-color: #4d4Dba!important;
    background-color: #4d4Dba!important;
}
.container-black
{
    background-color: #000!important;
}
.col-sm-2
{
    width: 14.666667%!important;
    flex: 0 0 14.666667%!important;
}
.col-sm-black
{
    background-color: #212121!important;
}
.title-full
{
    font-family: Helvetica, sans-serif;
    font-weight: 700!important;
}
.center
{
    margin-left: 45%!important;
    text-align: left!important;
}
.form-control:focus
{
    border-color: #4d4dbad0!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #4d4dbaad!important;
    outline: 0 none;
}
select {
    -webkit-border-radius:25px; -moz-border-radius:25px; border-radius:25px;
}

select:hover {    
    background-color:gren;
}
.dropdown
{
    margin-left: 15%!important;
    margin-right: 15%!important;
}
#carousel1
{
    width: 100%;
    margin: auto;
    margin-bottom: 30px!important;
}
.d-blocki
{
    flex-shrink: 0;
    margin: auto!important;
    border-radius: 2px;
    height: 60vh;
    width: 60%!important;
}
.carousel-control-previ
{
    margin-left: 18%;
}
.carousel-control-nexti
{
    margin-right: 18%;
}

@media (max-width:500px)
{
    .d-blocki
    {
        width: 100%!important;
        height: 40vh!important;
    }
    

}
@media (max-width:1000px) and (min-width:500px)
{
    .d-blocki
    {
        width: 100%!important;
        height: 60vh!important;
    }

}
@media (max-width:1790px) and (min-width:1200px)
{
    .carousel-control-previ
    {
        margin-left: 30%;
    }
    .carousel-control-nexti
    {
        margin-right: 30%;
    }
}

.carousel-caption h5
{
    color: #e3e3e3;
    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    font-size: 35px !important;
}
.separation_border
{
    background-color: #f4f4f4;
    color: #4d4Dba;
    padding: 1rem;
    margin-bottom: 30px;
}
.separation_border-dark-mode
{
    color: #e3e3e3;
    background-color: #1a1a1a;
}
.separation_border h3
{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
}
.canvas{
    margin-top: 20px!important;
    margin: auto;
    max-width:350px !important;
    max-height:400px !important;
    text-align:center;
    margin-bottom: 20px!important;
  }
canvas
{
    display: inline;
}
.gray
{
    color: #515151;
}
p.text-right
{
    margin: 1.5vh 0px 1.5vh 0px;
}