{% extends "decidir/layout.html" %}
{% block title %}Busca{% endblock %}
{% block body %}
<div class="container">
    <div class="form-group">
        <input autocomplete="off" autofocus id="busca" type="text" class="form-control" placeholder="Busca">
    </div>
    <div class="row">
    <h6>Filtrar:</h6>
    </div>
    <div class="row">
    <select name="filtros" class="form-control dropdown">
        <option selected="true" disabled="disabled">Filtros</option>
    {% for label in labels %}
            <option value="{{label.id}}">{{label.name}}</option>
    {% endfor %}
    </select>
    </div>
</div>

<div id="fullpage"></div>
<div id="receitas">
    <div class="container text-center">
        <div class="container-fluid" id="parent">
        </div>
    </div>
</div>

{% endblock %}