{% extends "decidir/layout.html" %}
{% block title %}Receitas{% endblock %}
{% block body %}
<div id="fullpage"></div>
{% load custom_tags %}
{% if mesage%}
<div class="alert alert-{{mesage.role}}" id="minhareceitamsg" role="alert">
    {{mesage.msg}}
</div>
{%endif%}
{% if receitas%}
<div id="receitas">
    <div class="container text-center">
        <div class="container-fluid">
            <div class="row">
    {% for receita in receitas %}
        <div class="col-lg-3 text-center">
            {% define forloop.counter|slugify as counter %}
            <div class="card" style="width: 18rem;">
                {% if not "/media/images/" in receita.img.all.first.img.url %}
                    <img data-id_receita="{{receita.id}}" class="card-img cards_btn" src="{{receita.img.all.first.img}}" alt="{{receita.name}}">
                {% else %}
                    <img data-id_receita="{{receita.id}}" class="card-img cards_btn" src="{{receita.img.all.first.img.url}}" alt="{{receita.name}}">
                {% endif %}
                <div class="card-body">
                <h5 data-id_receita="{{receita.id}}" class="card-title cards_btn">{{receita.name}}</h5>
                {%if receita.sender == user%}
                    <a href="{% url 'deletaReceita' receita.id%}" type="button" class="btn btn-danger">Deletar</a>
                {% endif %}
                </div>
            </div>
        </div>
        {% if counter == 0 %}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
            </div>
            </div>
        </div>
        <nav class="Page" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if receitas.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo First</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{receitas.previous_page_number}}">Previous</a></li>
                {% endif %}
                <li class="page-item disabled"><a class="page-link" href="#">Page {{receitas.number}} of {{receitas.paginator.num_pages}}</a></li>
                {% if receitas.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{receitas.next_page_number}}">Next</a></li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{receitas.paginator.num_pages}}">Last &raquo</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
</div>
</div>

{% else %}
<h4 class="text-center title">Você ainda não postou nenhuma receita. <a class="color" href="{% url 'recipe' %}">Postar</a></h4>
{% endif %}
{% endblock %}
